{
    "extends": "recommended",
    "plugins": [
        "standard"
    ],
    "globals": {
        "expect": true,
        "sinon": true
    },
    "env": {
        "browser": true,
        "mocha": true
    },
    "rules": {
      "comma-dangle": 0
    },
    "parserOptions": {
      "ecmaVerion": 6
    }
}
