{
    "extends": "standard",
        "plugins": [
            "standard"
        ],
        "globals": {
            "expect": true,
            "sinon": true
        },
        "env": {
            "browser": true,
            "mocha": true
        },
        "rules": {
            "comma-dangle": 0,
            "space-before-function-paren": 0,
        },
        "parserOptions": {
            "ecmaVerion": 6
        }
}
